# =========================
# API
# =========================
OPENDATA_API_URL=https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/evenements-publics-openagenda/records

# (optionnel si un jour nécessaire)
OPENAGENDA_API_KEY=

# =========================
# PÉRIMÈTRE GÉOGRAPHIQUE
# =========================
COUNTRY=FR
REGION=Hauts-de-France
DEPARTMENT=Nord
CITY=Lille


# =========================
# FILTRE TEMPOREL
# =========================
HISTORY_YEARS=1
INCLUDE_FUTURE=true

# =========================
# MISTRAL (utilisé pour RAG)
# =========================
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-tiny

# =========================
# VECTOR STORE & CHUNKING
# =========================
FAISS_INDEX_PATH=data/faiss_index
CHUNK_SIZE=1000
CHUNK_OVERLAP=100