# =========================
# API
# =========================
OPENDATA_API_URL=

# (optionnel si un jour nécessaire)
OPENAGENDA_API_KEY=

# =========================
# PÉRIMÈTRE GÉOGRAPHIQUE
# =========================
COUNTRY=
REGION=
DEPARTMENT=
CITY=

# =========================
# FILTRE TEMPOREL
# =========================
HISTORY_YEARS=
INCLUDE_FUTURE=


# =========================
# MISTRAL (utilisé pour RAG)
# =========================
MISTRAL_API_KEY=
MISTRAL_MODEL=